*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
section{
    background: #101010;
  height: 108%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 6rem;
}
.contact-img img{
max-width: 100%;
width: 720px;
height: auto;
border-radius: 10px;
}
