*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(17, 18, 17);
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width:40%;
}
.image-section img{
    width: 100%;
    height: auto;
    border: solid #72ba00;
    border-radius: 5px;
}
.img2{
    margin-top: 10%
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    font-family: Helvetica, sans-serif;
    color: #abdb25;
}
.content-section .content h3{
    margin-top: 20px;
    color: #72ba00;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.content-section .content p{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: aliceblue;
}